.flex-center() {
  display: flex;
  justify-content: center;
  align-items: center;
}

.display-flex(@value-justify, @value-align) {
  display: flex;
  justify-content: @value-justify;
  align-items: @value-align;
}